@import "tailwindcss";

@font-face {
  font-family: "Avant Garde Book BT";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Avgardd.ttf") format("woff");
}

body {
  margin: 0px;
  background-color: #0f0f0f;
  font-family: "Avant Garde Book BT", sans-serif;
}

::selection {
  background: #ec4e39;
  color: #0f0f0f;
}
